<h1>Create Post</h1>

<%= form_with model: @post do |form| %>
  <% if @post.errors.any?%>
    <div style="color: red;">
      <h2><%= pluralize(@post.errors.count, "error") %> prevented sign up submission</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Title:" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, "Body:" %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<%= link_to "Back to posts", posts_path %>
